html, body, header, #bg {
  height: 100%;
}

p{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}



#bg{
  background: url("./pics/bg2.png")no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

     transition:  300ms linear;

}

#bg.scrolled {
  background: url("./pics/bgwhite.png")no-repeat center center fixed; /*!important*/
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100%;

/*  transition:  300ms linear;*/
    transition: background .4s ease;
}




.josse{
  color: #92e2ad;
}


#centerfix{
display: flex;
 flex-direction: column;
 justify-content: center;
}

/** text attributes **/

#smallfont{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}


#smallfont.scrolled{
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}



.mediumfont{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.mediumfontdark{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.mediumfont.scrolled{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.bigfont{
  color: white;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
}

.bigfont.scrolled{
  color:black;
  text-decoration: none;
font-family: 'Overpass Mono', monospace;
}



/* ALIGNING CONTENT IS HELL*/

#center-block{      /* make links be in center without being centered(?)*/
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

#center-info{
  top: 50%;
  left: 50%;
}

.vcenter{        /* make content in columns vertically centered*/
  display: flex;
  vertical-align: middle;
}


/*  LOADER ANIMATION N STUFF */
/* Center the loader */
#loader {
position: absolute;
left: 50%;
top: 50%;
z-index: 1;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border: 5px solid #fff;
border-radius: 50%;
border-top: 5px solid transparent;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 }
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
from{ bottom:-100px; opacity:0 }
to{ bottom:0; opacity:1 }
}

#theContent {
display: none;
}

/* SCROLL DOWN BOUNCING BUTTON */


*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scrolltothis{

}

/*
section {
  height: 100vh;
  width: 100%;
  display: table;

}
section.ok{
  background-color: #555;
}
*/

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* HOVER EFFECT ON PROJECTS*/

.projcontainer {
  position: relative;
  /*width: 50%;*/
}

.projimg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.projcontainer:hover .overlay {
  opacity: 0.9;
}

.projtext {
  color: white;
  font-size: 12px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* LINKS IMAGES */
.linkimg{
  width: 50px;
  margin-left: 10px;
  margin-right:10px;
}
