
/** Layout **/
html, body, section { /*  , #bg */
  height: 100%;
}

html{
  scroll-behavior: smooth;
}

section {
  width: 100%;
}

#projects {
  padding-top: 30px;
  margin-bottom: 80px;
}


#bg{
  background: url("./pics/bg2.png")no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

     transition:  300ms linear;

}

#bg.scrolled {
  background: url("./pics/bgwhite.png")no-repeat center center fixed; /*!important*/
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100%;
/*  transition:  300ms linear;*/
    transition: background .4s ease;
}

/** scroll button *//
.scrollbtn {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity .3s;
}
.scrollbtn:hover {
  opacity: .5;
  cursor: pointer;
}

.scrollbtn span {
  margin-top:25%;
  position: absolute;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scrollbtn span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/** text attributes **/

p{
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}


#josse{
  color: #92e2ad;
}

#josse.scrolled{
  color: #fff;
}

.mediumfont{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.mediumfontdark{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.bigfont{
  color: white;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
}
.bigfontdark{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Raleway', monospace;
}



/* HOVER EFFECT ON PROJECTS*/

.projcontainer {
  position: relative;
  /*width: 50%;*/
}

.projimg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.projcontainer:hover .overlay {
  opacity: 0.9;
}

.projtext {
  color: white;
  font-size: 12px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* LINKS IMAGES */
.linkimg{
  width: 45px;
  margin-left: 10px;
  margin-right:10px;
}

/*  LOADER ANIMATION N STUFF */
/* Center the loader */
/*
#loader {
position: absolute;
left: 50%;
top: 50%;
z-index: 1;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border: 5px solid #fff;
border-radius: 50%;
border-top: 5px solid transparent;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
