html, body, header, #bg {
  height: 100%;
}


#bg{
  background: url("./pics/bg2.png")no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

/*#bg.scrolled {
  background: url("./pics/bg3.png") no-repeat center center fixed !important;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:100%;

  transition:  300ms linear;
} */

#navlinks a{
  color: white;
  text-decoration: none;
font-family: 'Roboto', sans-serif;
}

button:hover {
  color: black;
}

.josse{
  color: #92e2ad;
}

#navlinks a:hover{
font-weight: bold;
}

#centerfix{
display: flex;
 flex-direction: column;
 justify-content: center;
}


.smallfont{
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Overpass Mono', monospace;
}

.whitefont{

}


.mediumfont{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Overpass Mono', monospace;
}

.bigfont{
  color: white;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
}

.monofont{
  color: white;
  text-decoration: none;
  font-family: 'Overpass Mono', monospace;
}


/* ALIGNING CONTENT IS HELL*/

#center-block{      /* make links be in center without being centered(?)*/
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-bottom: 2em;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
}

#center-info{
  top: 50%;
  left: 50%;
}

.vcenter{        /* make content in columns vertically centered*/
  display: flex;
  vertical-align: middle;
}


/*  LOADER ANIMATION N STUFF */
/* Center the loader */
#loader {
position: absolute;
left: 50%;
top: 50%;
z-index: 1;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border: 5px solid #fff;
border-radius: 50%;
border-top: 5px solid transparent;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 }
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
from{ bottom:-100px; opacity:0 }
to{ bottom:0; opacity:1 }
}

#theContent {
display: none;
}


/* HOVER EFFECT ON PROJECTS*/

.projcontainer {
  position: relative;
  /*width: 50%;*/
}

.projimg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.projcontainer:hover .overlay {
  opacity: 0.9;
}

.projtext {
  color: white;
  font-size: 12px;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
