body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

p {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  font-family: "Overpass Mono", monospace;
}
.keywords {
  color: #252f6f;
  text-decoration: none;
  font-weight: bold;
  font-family: "Overpass Mono", monospace;
}

/** scroll button **/
.scrollbtn {
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  transition: opacity 0.3s;
}
.scrollbtn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.scrollbtn span {
  margin-top: 25%;
  position: absolute;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scrollbtn span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
